{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/drawers

    Boost drawer template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "courseindexopen": true,
        "navdraweropen": false,
        "blockdraweropen": true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "addblockbutton": ""
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_beekee_theme/navbar }}
    {{#courseindex}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-courseindex{{/id}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/courseindex}}
    {{#hasblocks}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-blocks{{/id}}
            {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
            {{$drawercontent}}
                <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </section>
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
            {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
            {{$drawerstate}}show-drawer-right{{/drawerstate}}
            {{$tooltipplacement}}left{{/tooltipplacement}}
            {{$drawercloseonresize}}1{{/drawercloseonresize}}
            {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/hasblocks}}
    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
        <div id="topofscroll" class="main-inner">
            {{#secondarymoremenu}}
                <div class="secondary-navigation d-print-none">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}
            <div id="page-content" class="pb-3 d-print-block">
                <div id="region-main-box">
                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none">
                        <div> {{{ regionmainsettingsmenu }}} </div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                    <section id="region-main" aria-label="{{#str}}content{{/str}}">

                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}
                        {{{ output.course_content_header }}}
                        {{#headercontent}}
                            {{> core/activity_header }}
                        {{/headercontent}}
                        {{#overflow}}
                            <div class="container-fluid tertiary-navigation">
                                <div class="navitem">
                                    {{> core/url_select}}
                                </div>
                            </div>
                        {{/overflow}}
                        <div style="display:none">
                            {{{ output.main_content }}}
                        </div>

                        <div id="topofscroll" class="main-inner">
    <div id="page-content" class="pb-3 d-print-block">
        <div id="region-main-box">
            {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none">
                    <div> {{{ regionmainsettingsmenu }}} </div>
                </div>
            {{/hasregionmainsettingsmenu}}
            <section id="region-main" aria-label="{{#str}}content{{/str}}">
                <div role="main">
                    <h1 class="beekee-page-title">My Profile</h1>
                    <div class="float-right">
                        <a href="{{{edit_profile_url}}}" class="btn btn-secondary btn-secondary-left mx-2 mt-2 float-right"><i class="icon fa fa-pencil fa-fw " title="Edit profile" role="img" aria-label="Site administration"></i> Edit profile</a><br>
                        <a href="{{{change_password_url}}}" class="btn btn-secondary btn-secondary-left mx-2 mt-2 float-right"><i class="icon fa fa-lock fa-fw " title="Site administration" role="img" aria-label="Change password"></i> Change password</a>
                    </div>
                    <div class="beekee-page-description" class="mb-5"><br>
                    </div>
                    <div class="profile-box-wrapper mt-5 pt-5">
                        <div class="profile-box heart" style="min-width:300px">
                            <div class="shape"><div class="icon heart"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M604.9,420.2c0,0-59.4-50.1-103.2,18.8c-43.8-68.8-103.2-18.8-103.2-18.8c-41.7,37.5,0,87.6,0,87.6 C414.1,536,492.3,610,501.6,618.4l0,0v1c7.3-6.3,87.6-83.4,103.2-111.6C604.9,507.8,645.5,457.8,604.9,420.2z M500.6,797.7 c-163.7,0-297.2-133.5-297.2-297.2s133.5-297.2,297.2-297.2s297.2,133.5,297.2,297.2S665.4,797.7,500.6,797.7z M500.6,282.6 c-119.9,0-216.9,97-216.9,216.9s97,216.9,216.9,216.9s216.9-97,216.9-216.9S620.5,282.6,500.6,282.6z M500.6,1000 C225.3,1000,1.1,775.8,1.1,500.5S225.3,0,500.6,0s499.5,224.2,499.5,499.5S776.9,1000,500.6,1000z M500.6,80.3 C269.1,80.3,80.4,269,80.4,500.5s188.7,420.2,420.2,420.2S920.8,732,920.8,500.5S733.1,80.3,500.6,80.3z"></path></svg></div></div>
                            <h4 style="margin-top:-20px">My Goals</h4>
                            <div class="text-left mb-4">
                                <div class="pl-3 py-1"></div>
                            </div>
                        </div>
                        <div class="profile-box star" style="min-width:300px">
                            <div class="shape">
                                <div class="icon star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M500,797.7c-163.7,0-297.2-133.5-297.2-297.2S336.3,203.3,500,203.3s297.2,133.5,297.2,297.2S664.8,797.7,500,797.7z M500,282.6c-119.9,0-216.9,97-216.9,216.9s97,216.9,216.9,216.9s216.9-97,216.9-216.9S619.9,282.6,500,282.6z M500,1000 C224.7,1000,0.5,775.8,0.5,500.5S224.7,0,500,0s499.5,224.2,499.5,499.5S776.3,1000,500,1000z M500,80.3 C268.5,80.3,79.8,269,79.8,500.5S268.5,920.8,500,920.8S920.2,732,920.2,500.5S732.5,80.3,500,80.3z M468.9,461.8h-114l92.3,67 l-35.2,108.5l92.3-67l92.3,67l-35.2-108.5l92.3-67h-114l-35.2-108.5L468.9,461.8z"></path></svg></div>
                            </div>
                            <h4 style="margin-top:-20px">My Interests

</h4>
                            <div class="text-left mb-4">
                                <div class="pl-3 py-1"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="py-3">
                            <h4>Course interests</h4>
                        </div>
                        <div class="py-3">
                            <h4>Gender</h4>
                        </div>
                        <div class="py-3">
                            <h4>Currently living in</h4>
                        </div>
                        <div class="py-3">
                            <h4>Languages spoken</h4>
                        </div>
                        <div class="py-3">
                            <h4>Additional spoken languages</h4>
                        </div>
                        <div class="py-3">
                            <h4>Current level of education</h4>
                        </div>
                        <div class="py-3">
                            <h4>Documentation for this level of education</h4>
                        </div>
                        <div class="py-3">
                            <h4>Group name</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

                        {{{ output.activity_navigation }}}
                        {{{ output.course_content_footer }}}

                    </section>
                </div>
            </div>
        </div>
        {{> theme_beekee_theme/footer }}
    </div>
    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
